<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/allData">All Data</a></li>
        <li><a href="/search/invoiceID/">Search by ID</a></li>
        <li><a href="/search/produceLine/">Search by Type</a></li>
        <li><a href="/viewData">View Data</a></li>
        <li><a href="/viewData/clean">Clean Data</a></li>
        <li><a href="/viewData/price">Price Range</a></li>
    </ul>
</nav>